<title>Projetos</title>
<div class="container">

<div class="container-projetos">
    <h1>Projetos</h1>
    <p>Alguns projetos que já realizei... </p>
          

    <div class="projeto-grid">

        <div class="projeto projeto1">
            <div class="titulo">
                <a href="https://github.com/jeronimafloriano/mybank" target="_blank" class="titulo-link">
                    <div class="titulo-retangulo"></div>
                    <h2>MyBank: Java, Spring e MongoDB</h2>
                </a>
            </div>
            <div class="descricao">
                <p>Aplicação SpringBoot que simula a integração e processamento de contas para Receita Federal, enviadas via arquivo .csv integrando com um banco fictício ("My Bank") utilizando Java, Spring e MongoDB.</p>
            </div>
        </div>


        <div class="projeto projeto2">
            <div class="titulo">
                <a href="https://github.com/jeronimafloriano/starbank-microsservices" target="_blank" class="titulo-link">
                    <div class="titulo-retangulo"></div>
                    <h2>StarBank: Microsserviços e RabbitMQ</h2>
                </a>
            </div>
            <div class="descricao">
                <p>Simula a concessão de cartão de crédito através de uma avaliação de crédito do cliente. Foi implementada uma arquitetura com service discovery, API Gateway, balanceamento de carga, comunicação síncrona com Spring Cloud e comunicação assíncrona com RabbitMQ.</p>
            </div>
        </div>

        <div class="projeto projeto3">
            <div class="titulo">
                <a href="https://github.com/jeronimafloriano/testes-unitarios-e-integrados-com-java-e-spring" target="_blank" class="titulo-link">
                    <div class="titulo-retangulo"></div>
                    <h2>Testes Unitários e Integrados</h2>
                </a>
            </div>
            <div class="descricao">
                <p>Criação de testes unitários e integrados para uma aplicação de petshop, utilizando JUnit, Mockito e Spring framework. 
                    Foi realizada a integração com a ferramenta Circle CI para a configuração de uma esteira de execução de testes do projeto.</p>
            </div>
        </div>

        <div class="projeto projeto4">
            <div class="titulo">
                <a href="https://github.com/jeronimafloriano/biblioteca-cadastros" target="_blank" class="titulo-link">
                    <div class="titulo-retangulo"></div>
                    <h2>Biblioteca: Api Rest + Api externa</h2>
                </a>
            </div>
            <div class="descricao">
                <p>Consumo de Api externas e realização de querys personalizadas com Jpa, 
                    para realização de cadastro de clientes e funcionários de uma biblioteca.
                </p>
            </div>
        </div>
    </div>
</div>
</div>

<app-contact></app-contact>