.container {
    background-color: #f9f6f6;
    display: flex;
  }
  
  .left-side {
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: auto;
    
  }
  

  .imagem {
    width: 100%;
    margin: 0 0 10px 20px;
  }
  
  .imagem-corpo {
    width: 80%; 
    height: auto; 
    padding-bottom: 100%; 
    background-image: url('../../assets/corpo.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .right-side {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-top: 120px;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  .social-box {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-right: 50px;
  }
  
  .social-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-text {
    margin-right: 10px; 
  }
  
  .line {
    width: 250px; 
    border-top: 1px solid #ccc;
    margin: 0 10px;
  }
  
  .social-icons a {
    margin: 0 4px;
    display: inline-block; 
  }
  
  .icone-linkedin,
  .icone-instagram,
  .icone-devto {
    width: 20px; 
    height: 20px; 
    background-size: cover;
  }
  
  .icone-linkedin {
    background-image: url('../../assets/icone-linkedin.png');
  }
  
  .icone-instagram {
    background-image: url('../../assets/icone-instragram.png');
  }
  
  .icone-devto {
    background-image: url('../../assets/icone-devto.webp');
  }