<div class="container">
    <div class="left-side">
      <img src="../../assets/corpo.jpg" alt="Imagem" class="image">
    </div>
    <div class="right-side">
      <div class="content">
        <h1>Onde me encontrar</h1>
        <p>Me acompanhe nas redes sociais e fique à vontade para enviar uma mensagem!</p>
        <div class="social-box">
            <div class="social-header">
              <p class="social-text">Social</p>
              <hr class="line">
              <div class="social-icons">
                <a target="_blank"  href="https://www.linkedin.com/in/jeronimafloriano/"><img src="../../assets/icone-linkedin.png" alt="Linkedin"></a>
                <a target="_blank"  href="https://www.instagram.com/jeronimadev/"><img src="../../assets/icone-instragram.png" alt="Instagram"></a>
                <a target="_blank"  href="https://dev.to/jeronimafloriano"><img src="../../assets/icone-devto.webp" alt="dev.to"></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>