<div class="container">
    <div class="left-side">
      <div class="imagem">
        <div class="imagem-corpo"></div>
      </div> 
    </div>
    <div class="right-side">
      <div class="content">
        <h1>Onde me encontrar</h1>
        <p>Me acompanhe nas redes sociais e fique à vontade para enviar uma mensagem!</p>
        <div class="social-box">
            <div class="social-header">
              <p class="social-text">Social</p>
              <hr class="line">
              <div class="social-icons">
                <a target="_blank"  href="https://www.linkedin.com/in/jeronimafloriano/"> 
                  <div class="icone-linkedin"></div>
                </a>
                <a target="_blank"  href="https://dev.to/jeronimafloriano">
                  <div class="icone-devto"></div>
                </a>
                <a target="_blank"  href="https://www.instagram.com/jeronimadev/">
                  <div class="icone-instagram"></div>
                </a>    
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>