<nav >
  <ul>
    <li class="nav-link"><a (click)="scrollTo('contato')">Contato</a></li>
    <li class="nav-link"><a (click)="scrollTo('projetos')">Projetos</a></li>
  </ul>
</nav>

<div class="fundo">
    <div class="cabecalho">
      <h1>JERONIMA FLORIANO</h1>
    </div>

    <div class="sobre">
      <div class="texto">
          <h1>Sobre Mim</h1>
          <p>Olá! Sou apaixonada pelo universo do desenvolvimento de software e por compartilhar conhecimento. Originária de Goiânia, meu maior objetivo é poder transformar a minha realidade e o mundo ao meu redor através da tecnologia. Já atuei como analista de atendimento, analista de documentação, Testes/QA, e hoje sou desenvolvedora, algo que foi meu sonho durante muito tempo. Gosto muito de estudar e tento me dedicar ao máximo a tudo que faço, sou detalhista e amo cuidar de tudo com muito carinho e amor! 
            Inclusive, acredito que esse é o maior diferencial para alcançarmos nossos objetivos, e também para  dar sentido às nossas ações...</p>
          <p>Hobbies:
            Gosto muito de ler, principalmente livros de suspense e ação. Também gosto de rock e minhas bandas preferidas são Queen, Red Hot Chilli Peppers e Black Sabath :)
          </p>
      </div>
      
      <div class="imagem">
        <div class="imagem-corpo"></div>
      </div>  
    </div>  
</div>

<app-projects id="projetos"></app-projects>
<div id="contato"></div>